.detail-view {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.desc::first-letter {
    text-transform: uppercase;
}
.temperatures {
    margin: 20px 0;
}
.temperatures span {
    color: #fff;
    padding: 15px;
    margin: 25px;
    background-image: linear-gradient(
        to bottom,
        #3a61ca,
        #4c77db
    );
    border-radius: 15px;
    font-size: 16px;
}

.temperatures .avg {
    font-size: 26px;
}