.city-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
li {
    list-style: none;
    transition: all .2s ease-in-out;
}
li:hover {
    transform: scale(1.1);
}